[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
tensorflow = "*"
keras = "*"
keras-tuner = "*"
jupyter = "*"
seaborn = "*"
mlxtend = "*"

[dev-packages]

[requires]
python_version = "3.8"
